.modal{
    width: 95%;
    overflow-y: auto;
    max-height: 90vh;
    border-radius: 10px;
}

.btnsContainer{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}

.inputTextArea{
    width: 100%;
    height: 100px;
    max-height: 150px;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    resize: none;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

.inputTextArea:focus{
    outline: 1px solid #0096F5;
}

.sizeInputsContainer{
    display: flex;
    gap: 5px;
}

.chipContainer{
    flex-wrap: wrap;
}

.chipBox{
    width: 120px !important
}

.chip{
     padding-top:3px !important; 
     padding-bottom:2px !important; 
     height: auto !important;
}

.chip span {
    display: block; 
    white-space: normal; 
}

@media screen and (min-width: 510px){
    .modal{
        width: 505px !important;
    }
}